*{margin: 0; padding: 0; font-family: 'Spoqa Han Sans', Sans-serif;}
li{list-style-type: none;}
a{text-decoration: none;}
header{
    display: flex;
    justify-content: space-between;
}
header nav{
    float: right;
}
header nav ul li{
    float: left;
    margin-top: 10px;
}
header nav ul li a{
    margin-right: 25px;
    color: #111;
    font-size: 2.5rem;
    font-weight: bold;
}
#cover{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.kaleidoscope{
}
.footnote{
    position: absolute;
    bottom: -70px;
    left: 60vw;
    margin-left: 10px;
    width: 350px;
    height: 70px;
    transform-origin: left top;
    transform: rotate(-90deg);
}
.title{
    align-self: center;
    margin-bottom: 30vh;
    margin-right: 50px;
}
.title h3{
    font-size: 2rem;
}
.title h2{
    font-size: 3rem;
}
.title p{
    font-size: 1.5rem;
}