*{margin: 0; padding: 0; font-family: 'Spoqa Han Sans', Sans-serif;}
li{list-style-type: none;}
a{text-decoration: none;}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.4%;
}
header h1 a{
    display: block;
    width: 12vw;
}
header h1 a img{
    max-width: 100%;
}
header nav{
    float: right;
    max-width: 38vw;
}
header nav ul{
    width: 100%;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    margin-right: 2.3vw;
    color: #111;
    font-size: 1.5vw;
    font-weight: bold;
}
#cover{    
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 9vh;
    display: flex;
    justify-content: space-between;
}
.footnote{
    position: absolute;
    bottom: -70px;
    left: 60vw;
    margin-left: 10px;
    width: 350px;
    height: 70px;
    transform-origin: left top;
    transform: rotate(-90deg);
}
.footnote h4{
    font-size: .9vw;
}
.footnote p{
    font-size: .8vw;
    font-weight: 200;
}
.title{
    align-self: center;
    margin-bottom: 10vh;
    margin-right: 5vw;
}
.title h3{
    font-size: 1.5vw;
    font-weight: bold;
}
.title h2{
    font-size: 2vw;
}
.title p{
    margin-top: 1%;
    font-size: 1vw;
}
#about{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
    background: url(../images/Untitled-2.png) no-repeat center center;
    background-size: 100% auto;
}
#about div{
    width: 0;
    height: 0;
}
.tri-1{
    position: absolute;
    top: -70px;
    left: 20px;
    border: 200px solid transparent;
    border-bottom: 350px solid #b5b5b5;
}
.tri-2{
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 220px;
    border: 200px solid transparent;
    border-top: 350px solid #bbb;
}
.tri-3{
    position: absolute;
    top: -70px;
    left: 570px;
    border: 200px solid white;
    border-bottom: 350px solid transparent;
    background: url(../images/8a4506075cf8f8cfb025f525028e4aa6.jpg) no-repeat center top;
}
.name{
    position: absolute;
    top: 70%;
    left: 16.5%;
    width: 12%;
    height: 10%;
    text-align: center;
}
.name span{
    font-weight: bold;
    font-size: 38px;
    color: #2a2a2a;
}
.myself{
    position: absolute;
    top: 18.5%;
    left: 32.8%;
    width: 33%;
    height: 27%;
}
#work{
    width: 100%;
    height: 100vh;
}
