*{margin: 0; padding: 0; font-family: 'Spoqa Han Sans', Sans-serif;}
li{list-style-type: none;}
a{text-decoration: none; color: #111;}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.4%;
}
header h1 a{
    display: block;
    width: 12vw;
}
header h1 a img{
    max-width: 100%;
}
header nav{
    float: right;
    max-width: 38vw;
}
header nav ul{
    width: 100%;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    margin-right: 2.3vw;
    font-size: 1.5vw;
    font-weight: bold;
}
#cover{    
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 9vh;
    display: flex;
    justify-content: space-between;
}
.footnote{
    position: absolute;
    bottom: -70px;
    left: 60vw;
    margin-left: 10px;
    width: 350px;
    height: 70px;
    transform-origin: left top;
    transform: rotate(-90deg);
}
.footnote h4{
    font-size: .9vw;
}
.footnote p{
    font-size: .8vw;
    font-weight: 200;
}
.title{
    align-self: center;
    margin-bottom: 10vh;
    margin-right: 5vw;
}
.title h3{
    font-size: 1.5vw;
    font-weight: bold;
}
.title h2{
    font-size: 2vw;
}
.title p{
    margin-top: 1%;
    font-size: 1vw;
}
#about{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(../images/Untitled-2.png) no-repeat center center;
    background-size: 100% auto;
}
#about ul{
    float: left;
}
/*
.firstFloor{
    width: 100%;
    height: 37.3%;
}
.firstFloor li{
    float: left;
}
.tri-11{
    width: 10.8%;
    height: 0;    
    padding-left: 10.8%;
    padding-bottom: 18.7%;
    overflow: hidden;
}
.tri-11:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -204.6px;
    border-left: 204.6px solid transparent;
    border-right: 204.6px solid #fff;
    border-bottom: 355.6px solid #b5b5b5;
}
.tri-12{
    width: 10.8%;
    height: 0;    
    padding-left: 10.8%;
    padding-bottom: 18.7%;
    overflow: hidden;
}
.tri-12:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -204.6px;
    border-left: 204.6px solid #fff;
    border-right: 204.6px solid #ddd;
    border-bottom: 355.6px solid #eee;
}
.tri-13{
    width: 10.8%;
    height: 0;    
    padding-left: 10.8%;
    padding-bottom: 18.7%;
    overflow: hidden;
}
.tri-13:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -204.6px;
    border-left: 204.6px solid #ddd;
    border-right: 204.6px solid #fff;
    border-bottom: 355.6px solid #b5b5b5;
}
.secondFloor{
    width: 100%;
    height: 37.3%;
    overflow: hidden;
}
.secondFloor li{
    float: left;
}
.tri-21{
    width: 10.8%;
    height: 0;    
    padding-left: 10.8%;
    padding-bottom: 18.7%;
    overflow: hidden;
}
.tri-21:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -204.6px;
    border-left: 204.6px solid #fff;
    border-right: 204.6px solid #434343;
    border-bottom: 355.6px solid #fff;
}
.tri-22{
    width: 10.8%;
    height: 0;    
    padding-left: 10.8%;
    padding-bottom: 18.7%;
    overflow: hidden;
}
.tri-22:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -204.6px;
    border-left: 204.6px solid #434343;
    border-right: 204.6px solid #fff;
    border-top: 355.6px solid transparent;
    border-top-image: url(../images/tri-22.JPG)
}
.tri-23{
    width: 10.8%;
    height: 0;    
    padding-left: 10.8%;
    padding-bottom: 18.7%;
    overflow: hidden;
}
.tri-23:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -204.6px;
    border-left: 204.6px solid transparent;
    border-right: 204.6px solid #fff;
    border-bottom: 355.6px solid #fff;
}*/
#work{
    position: relative;
    width: 100%;
    height: 100vh;
}
#work ul{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    height: 50%;
    text-align: center;
}
#work ul li{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}
.workImage01{
    position: absolute;
    top: -250px;
    left: -500px;
    width: 500px;
    height: 450px;
}
.workImage01 span{
    float: right;
    font-weight: bold;
    font-size: 2em;
}
.workImage02{
}
.workImage03{
}