*{margin: 0; padding: 0; font-family: 'Spoqa Han Sans', Sans-serif;}
li{list-style-type: none;}
a{text-decoration: none; color: #111;}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.4%;
}
header h1 a{
    display: block;
    width: 12vw;
}
header h1 a img{
    max-width: 100%;
}
header nav{
    float: right;
    max-width: 38vw;
}
header nav ul{
    width: 100%;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    margin-right: 2.3vw;
    font-size: 1.5vw;
    font-weight: bold;
}
#cover{    
    position: relative;
    width: 100%;
    height: 80vh;
    margin-bottom: 9vh;
    display: flex;
    justify-content: space-between;
}
.footnote{
    position: absolute;
    bottom: -70px;
    left: 60vw;
    margin-left: 10px;
    width: 350px;
    height: 70px;
    transform-origin: left top;
    transform: rotate(-90deg);
}
.footnote h4{
    font-size: .9vw;
}
.footnote p{
    font-size: .8vw;
    font-weight: 200;
}
.title{
    align-self: center;
    margin-right: 4vw;
    margin-bottom: 10vh;
    padding-top: 20px;
}
.title h3{
    font-size: 1.5vw;
    font-weight: bold;
}
.title h2{
    font-size: 2vw;
}
.title p{
    margin-top: 2%;
    font-size: 1vw;
}
#about{
    position: relative;
    width: 100%;
    min-width: 1200px;
    height: 100vh;
    overflow: hidden;
    background: url(../images/Untitled-2.png) no-repeat center center;
    background-size: 100% auto;
    opacity: 0;
}
.aboutBox{
    height: inherit;
    padding: 50px 100px;
    box-sizing: border-box;
    display: flex;
}
.category{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.category h3{
    align-self: center;
    text-align: left;
    font-size: 300%;
}
.imageBox{
    width: 50%;
    background-color: gold;
}
#web{
    width: 100%;
    height: 100vh;
    margin: 50px 0;
    /*background: url(../images/Untitled-2test.png) no-repeat center center / contain;*/
}
#web ul{
    display: flex;
    flex-direction: column;
}
#web span{
    position: absolute;
    font-weight: bold;
    font-size: calc(1rem + 1vw);
}
#web a{
    position: absolute;
}
.firstFloor{
    display: flex;
    height: 45vh;
}
.firstFloor li{
    position: relative;
}
.firstFloor li:nth-child(1){
    flex-basis: 38.89%;
}
.firstFloor li:nth-child(2){
    flex-basis: 27.78%;
}
.firstFloor li:nth-child(3){
    flex-basis: 33.33%;
}
.work01{
    right: 0;
    transform: translate(2%,11%);
    width: 88.5%;
    height: 100%;
}
.workImage01{
    width: 100%;
    height: 100%;
    background: url(../images/work-1.png) no-repeat center center / contain;
}
.workImage01 span{
    top: 10%;
    left: 0%;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.image-box:hover span{
    opacity: 1;
}
.linkBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}
.linkBox a{
    width: 45%;
    height: calc(30px + 1vh);
    border: 1px solid black;
    background-color: rgba(255,255,255,.5);
    font-weight: bold;
    text-align: center;
    line-height: calc(30px + 1vh);
}
.demo{
    position: absolute;
    right: 0;
}
.image-box:hover .linkBox{
    opacity: 1;
}
.work02{
    bottom: 0;
    transform: translate(4.3%,-1%);
    width: 110%;
    height: 70%;
}
.workImage02{
    width: 100%;
    height: 100%;
    background: url(../images/work-2.png) no-repeat center center / contain;
}
.workImage02 span{
    top: -10%;
    left: 20%;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.work03{
    transform: translate(4%,-10%);
    width: 90%;
    height: 90%;
}
.workImage03{
    width: 100%;
    height: 100%;
    background: url(../images/work-3.png) no-repeat center center / contain;
}
.workImage03 span{
    top: 11%;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.workTitle{
    align-self: center;
    width: 343px;
    height: 10vh;
    background: url(../images/work-text.png) no-repeat center center / contain;
}
.secondFloor{
    display: flex;
    height: 45vh;
}
.secondFloor li{
    position: relative;
}
.secondFloor li:first-child, .secondFloor li:last-child{
    flex-basis: 50%;
}
.work04{
    position: absolute;
    right: 0;
    transform: translate(-10%,10%);
    width: 58%;
    height: 85%;
}
.workImage04{
    height: 100%;
    background: url(../images/work-4.png) no-repeat center center / contain;
}
.workImage04 span{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.work05{
    position: absolute;
    transform: translate(10%,-6%);
    width: 80%;
    height: 100%;
}
.workImage05{
    height: 100%;
    background: url(../images/work-5.png) no-repeat center center / contain;
}
.workImage05 span{
    top: 8%;
    left: 12%;
    opacity: 0;
    transition: all .5s ease-in-out;
}
#graphic{
    width: 100%;
    height: 100vh;
}
#graphic > h1{
    position: relative;
    margin: -30px auto 80px;
    padding-top: 10px;
    text-align: center;
    width: 150px;
    font-size: 2vw;
}
#graphic > h1:before{
    content: "";
    width: 150px;
    height: 30px;
    position: absolute;
    top: 10;
    left: 0;
    padding: 10px 10px;
    border: 5px solid black;
    border-left: none;
    border-right: none;
}
#graphic .itemPadding{
    padding: 0 0 30px 70px;
}
#graphic .item{
    position: relative;
    float: left;
    margin: 0 49px 58px 0;
    padding: 9px 0 0;
    border-top: 1px solid black;
}
.typeA{
}
.grimWrap{
    display: flex;
}
.grim{
    width: 256px;
}
.grimText{
    width: 256px;
    align-self: flex-end;
}
.typeB{
    width: 300px;
}
.typeB .grimWrap{
    flex-direction: column;
}
.typeB .grimText{
    align-self: baseline;
    margin-top: 10px;
}
#contact{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/dino-reichmuth-147745.png) no-repeat center center;
    background-size: 100% auto;
}
#contact ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:70%; 
    height: 30%;
    display: flex;
}
#contact ul li{
    flex-basis: 25%;
    width: 100%;
    height: 100%;
    display: flex;
}
#contact ul li:nth-child(1){
    background-color: rgba(0,0,0,.6);
}
#contact ul li:nth-child(2){
    background-color: rgba(0,0,0,.7);
}
#contact ul li:nth-child(3){
    background-color: rgba(0,0,0,.8);
}
#contact ul li:nth-child(4){
    background-color: rgba(0,0,0,.9);
}
#contact ul li p, #contact ul li i{
    width: 100%;
    align-self: center;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    text-align: center;
}
#contact ul li i{
    width: 30%;
}
#contact ul li:nth-child(3) i{
    height: 10%;
    background: url(../images/mark-github.png) no-repeat center center;
    background-size: 100% auto;
}

